<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<title>Index</title>
</head>
<body>
	<h2>Welcome</h2>
	<h2 th:text=" 'Login as ' + ${#httpServletRequest.remoteUser}">Login as</h2>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
	<a href="/login">Login</a>
	<br/>
	<a th:if="${#httpServletRequest.isUserInRole('ADMIN')}"
	   href="/course/viewall">View All Course</a>
	<a th:if="${#httpServletRequest.isUserInRole('USER')}"
	   href="/student/viewall">View All Student</a>

</body>
</html>
