<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Students</title>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}" />
    </head>
    <body>
    <h2 th:text=" 'Login as ' + ${#httpServletRequest.remoteUser}">Login as</h2>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
        <h1>All Courses</h1>
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>ID Course</th>
                    <th>Nama</th>
                    <th>SKS</th>
                </tr>
            </thead>
        <tbody>
    	<tr th:each="course,iterationStatus: ${courses}">
            <td th:text="${iterationStatus.count}">No. 1</td>
	       	<td th:text="${course.idCourse}">Course NPM</td>
	       	<td th:text="${course.nama}">Course Nama</td>
	       	<td th:text="${course.sks}">Course SKS</td>
       	</tr>
        </tbody>
        </table>
    </body>
</html>
